{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}

<form class="form_for_login_register" method="POST">
    <h1>Страница регистрации</h1>

    <div>
    <input type="text" name="username" placeholder="username">
    <label for="username">Логин</label>
    </div>

    <div>
    <input type="text" name="password" placeholder="password"> 
    <label for="password">Пароль</label>
    </div>
    <button type="submit">Зарегистрироваться</button>
    <div>Если у вас есть аккаунт <span><a href="/login">Войти в аккаунт</a></span></div>
    <div class="errors"><span>{{ errors }}</span></div>
</form>

{% endblock %}